[Unit]
# https://github.com/yichenshen/dbus-auth-proxy
Description=DBus Auth Proxy Container
Requires=dbus.service
After=dbus.service

[Container]
Image=ghcr.io/yichenshen/dbus-auth-proxy:latest
AutoUpdate=registry

Volume=dbus-socket:/run/dbus-auth-proxy:rw
Volume=/run/dbus:/run/dbus:rw

UserNS=keep-id
SecurityLabelDisable=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
