[Unit]
Description=Gluetun container

[Container]
ContainerName=gluetun
Image=registry-1.docker.io/qmcgaw/gluetun
AutoUpdate=registry
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun
User=0
Environment=VPN_SERVICE_PROVIDER=protonvpn
Environment=VPN_TYPE=openvpn
Environment=VPN_PORT_FORWARDING=on
Environment=SERVER_COUNTRIES=Spain,Italy,Switzerland,Portugal
Secret=gluetun-user,type=env,target=OPENVPN_USER
Secret=gluetun-password,type=env,target=OPENVPN_PASSWORD
PublishPort=10095:10095
PublishPort=6881:6881
PublishPort=6881:6881/udp
Volume=%h/volumes/gluetun_data:/gluetun

[Install]
WantedBy=default.target


