[Unit]
Description=Immich Keydb

[Container]
Pod=immich.pod
ContainerName=immich-valkey
Image=registry-1.docker.io/valkey/valkey:latest
AutoUpdate=registry
UserNS=keep-id:uid=1500,gid=1500
HealthCmd=redis-cli ping || exit 1
HealthInterval=1m
HealthOnFailure=kill
Label=registry
Timezone=Europe/Madrid
Volume=%h/volumes/immich_valkey:/data:z

[Service]
Restart=always

[Service]
Restart=always
