[Unit]
Description=Immich Server	
Requires=immich-database.service

[Container]
Pod=immich.pod
ContainerName=immich-server
Image=ghcr.io/immich-app/immich-server:release
AutoUpdate=registry
Volume=%h/volumes/immich_upload:/data
Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/nas/personalmedia:/library:ro
Environment=DB_HOSTNAME=immich-database
Environment=DB_USERNAME=postgres
Environment=DB_DATABASE_NAME=immich
Environment=REDIS_HOSTNAME=immich-valkey
Secret=immich-db-password,type=env,target=DB_PASSWORD


[Service]
Restart=always
