[Unit]
Description=Navidrome container

[Container]
ContainerName=navidrome
Image=registry-1.docker.io/deluan/navidrome:latest
AutoUpdate=registry
UserNS=keep-id
Environment=ND_SCANSCHEDULE:1h
Environment=ND_LOGLEVEL:info  
Environment=ND_SESSIONTIMEOUT:24h
Environment=ND_BASEURL:""
PublishPort=4533:4533
Volume=%h/volumes/navidrome_data:/data
Volume=/mnt/nas/media/Music:/music:ro

[Install]
WantedBy=default.target


