[Unit]
Description=Radicale container

[Container]
ContainerName=radicale
Image=docker.io/tomsquest/docker-radicale
AutoUpdate=registry
UserNS=keep-id:uid=2999,gid=2999
Environment=TAKE_FILE_OWNERSHIP=false
PublishPort=5232:5232
Volume=%h/volumes/radicale_data:/data
Volume=%h/volumes/radicale_config:/config:ro

[Install]
WantedBy=default.target


