[Unit]
Description=Tandoor Web container

[Container]
Pod=tandoor.pod
ContainerName=tandoor-web
Image=docker.io/vabene1111/recipes
UserNS=keep-id:uid=1500,gid=1500
AutoUpdate=registry
Environment=GUNICORN_MEDIA=1
Environment=DB_ENGINE=django.db.backends.postgresql
Environment=POSTGRES_HOST=tandoor-db
Environment=POSTGRES_PORT=5432
Environment=POSTGRES_DB=tandoor
Environment=POSTGRES_USER=tandoor
Secret=tandoor-db-password,type=env,target=POSTGRES_PASSWORD
Secret=tandoor-secret-key,type=env,target=SECRET_KEY
Volume=%h/volumes/tandoor_staticfiles:/opt/recipes/staticfiles
Volume=%h/volumes/tandoor_mediafiles:/opt/recipes/mediafiles

